@import "../src/globales";
@import "../src/header";
@import "../src/home";
@import "../src/featured";
@import "../src/collection";
@import "../src/offer";
@import "../src/newcolle";
@import "../src/newsletter";
@import "../src/footer";

/*===== WOMEN SNEAKERS =====*/
.women__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 578px) {
  .collection__container {
    grid-template-columns: 415px;
  }
  .collection__img {
    width: 260px;
  }
  .offer__container {
    grid-template-columns: max-content max-content;
  }
  .offer__data {
    text-align: center;
  }
  .new__mens {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0.3rem;
  }
  .section-title::after {
    width: 76px;
  }
  /*===== NAV =====*/
  .nav {
    height: 4.5rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: $mb-6;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  /*===== HOME =====*/
  .home__container {
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }
  .home__sneaker {
    order: 1;
  }
  .home__shape {
    width: 376px;
    height: 376px;
  }
  .home__img {
    width: 490px;
    top: 3.5rem;
    right: 0;
    left: -1rem;
  }
  .newsletter__container {
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }
  .newsletter__description {
    margin-bottom: 0;
  }
  .newsletter__subscribe {
    width: 360px;
    height: max-content;
  }
}
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    column-gap: 8rem;
  }
  .collection__container {
    grid-template-columns: repeat(2, 415px);
  }
  .new__container {
    grid-template-columns: max-content 1fr;
  }
  .new__mens {
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }
  .new__mens-img {
    margin-bottom: $mb-6;
  }
  .new__mens-img {
    width: 220px;
    height: auto;
    object-fit: contain;
  }

  .new__sneaker-img {
    width: 200px;
    height: auto;
    object-fit: contain;
  }
  .footer__social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #111;
    color: #fff;
    font-size: 22px;
    transition: all 0.3s ease;
  }

  .footer__social:hover {
    background: radial-gradient(circle at 30% 107%, 
      #fdf497 0%, 
      #fdf497 5%, 
      #fd5949 45%, 
      #d6249f 60%, 
      #285AEB 90%);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    color: white;
  }

} 
